# Тег образа jetbrains/youtrack: кассеты записаны против этой сборки.
YOUTRACK_VERSION=2026.1.13757
YOUTRACK_PORT=8091
TZ=Europe/Moscow

# Мастер настройки заводит этого администратора, он же владелец токена,
# которым сидируется инстанс.
YOUTRACK_ADMIN_LOGIN=admin
YOUTRACK_ADMIN_PASSWORD=ytrack-dev

# uid/gid хоста: контейнер инструментов пишет в ./.state, и файлы должны
# остаться твоими. Подставить вывод `id -u` и `id -g`.
UID=1000
GID=1000
